extends layout

block header 
  link(rel='stylesheet', href='/stylesheets/vis-network.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(async src='https://www.googletagmanager.com/gtag/js?id=UA-135072307-1')
  script.
   var gaid = 'UA-135072307-1';
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   gtag('config', gaid);

block content
  h2(class="ui large header centered") 
    img(class="ui image" src="/images/graph.png")
    span Arabic Graph
  div(class="ui info message")
   i(class="close icon")
   div(class="header") Click to explore, Double Click to see details. Information in this site is still work in progress. Please use at your own risk. 
  .ui.form
   .inline.fields
    label(for='view') Select your view:
    .field
      .ui.radio.checkbox
        input.hidden(type='radio', name='view', tabindex='0', value="full")
        label Full
    .field
      .ui.radio.checkbox
        input.hidden(type='radio', name='view', checked='true', tabindex='0', value="incremental")
        label Incremental
    .field
      .ui.radio.checkbox
        input.hidden(type='radio', name='view', tabindex='0', value="single")
        label Single node at a time
  .ui.search
   .ui.icon.input.fluid.focus
    input(class="prompt" type="text" placeholder="Search ...")
    i.search.icon
   .results  
  
  div(class="ui segment", id="graph")         

  div(class="ui modal")
    i(class="close icon")
    div(class="ui segment", id="content")    
  
  block footer    
    script(src='/javascripts/vis-network.min.js')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/lodash.min.js')
    script(src='/javascripts/randomColor.js')
    script(src='/javascripts/semantic.min.js')
    script(src='/javascripts/index.js')
    
    