extends layout

block header 
  link(rel='stylesheet', href='/stylesheets/vis-network.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(async src='https://www.googletagmanager.com/gtag/js?id=UA-135072307-1')
  script.
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   gtag('config', 'UA-135072307-1');

block content
  h2(class="ui large header centered") 
    img(class="ui image" src="/images/graph.png")
    span Arabic Graph
  div(class="ui positive message")
   i(class="close icon")
   div(class="header") Click to explore, Double Click to see details
  div(class="ui negative message")
   i(class="close icon")
   div(class="header") Information in this site is still work in progress. Please use at your own risk. 

  div(class="ui segment", id="graph")         

  div(class="ui modal")
    i(class="close icon")
    div(class="ui segment", id="content")    
  
  block footer    
    script(src='/javascripts/vis-network.min.js')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/lodash.min.js')
    script(src='/javascripts/randomColor.js')
    script(src='/javascripts/semantic.min.js')
    script(src='/javascripts/index.js')
    
    